/* 引入css */
@import url("https://cdn.bootcdn.net/ajax/libs/font-awesome/6.4.0/css/all.css");
@import url("https://s1.hdslb.com/bfs/static/jinkela/long/font/regular.css");

/* 变量 */
:root {
  --body-background-color: #333333;
  --main-text-color: #ffffff;
}

/* 全局样式 */
* {
  margin: 0;
  padding: 0;
  user-select: none;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--body-background-color);
  overflow: hidden;
  font-family: "HarmonyOS_Regular", sans-serif;
}

#app {
  width: 100vw;
  height: 100vh;
}